@model IEnumerable<HomeBancoDotNet.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.intentos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bloqueado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.intentos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bloqueado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idUsuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idUsuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idUsuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
