@model HomeBancoDotNet.Models.PlazoFijo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PlazoFijo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.titularP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.titularP.idUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaIni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaIni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tasa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tasa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pagado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pagado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idPlazoFijo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
